<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Vue Mastery</title>
    <!-- Import Styles -->
    <link rel="stylesheet" href="./assets/styles.css" />
    <!-- Import Vue.js -->
    <!-- <script src="https://unpkg.com/vue@3.0.0-beta.12/dist/vue.global.js"></script> -->
    <script src="https://unpkg.com/vue@next"></script>
  </head>
  <body>
    <div id="app">
      <div class="nav-bar"></div>


      <div class="cart">Cart 1 ({{ cart1 }})</div>
      <div class="cart">Cart 2 ({{ cart2 }})</div>

      <div class="product-display">
        <div class="product-container">
          <div class="product-image">
            <!-- <img v-bind:src="image" alt=""> -->
            <a :href="prodURL" target="_blank">
              <img :src="prodImg" :alt="prodDesc" :title="prodDesc">
            </a>
          </div>
          <div class="product-info">
            
            <h1>{{prodName}}</h1>
            <!-- <p v-if="prodInStock">In Stock</p>
              <p v-else>Out of Stock</p> -->
              <!-- <p v-if="prodOOS">Out of Stock</p> -->
              <!-- <p v-show="prodOOS">Out of Stock</p> -->
              <p v-if="prodInv > 10">Lots in Stock</p>
              <p v-else-if="prodInv <=10 && prodInv > 0">Low Stock warning</p>
              <p v-else>Out of Stock - sorry</p>
              <p v-show="prodOnSale">ON SALE</p>
              <ul id="details">
                <li v-for="detail in prodDetails">{{ detail }}</li>
              </ul>
              <div v-for="variant in prodVariants" :key="variant.id" @mouseover="updateImg(variant.imgSrc)">{{ variant.colour }}</div>
              <ul id="sizes">
                <li v-for="size in prodSizes">{{size}}</li>
              </ul>
              <button v-on:click="cart1 += 1" class="button">Add to Cart 1</button>
              <!-- <button v-on:click="btnAddToCart" class="button">Add to Cart 2</button> -->
              <button @click="btnAddToCart" class="button">Add to Cart 2</button>
              <button @click="btnResetCart" class="button">Reset Carts</button>
        </div>
      </div>
    </div>

    <!-- Import App -->
    <script src="./main.js"></script>

    <!-- Mount App -->
    <script>
      const mountedApp = app.mount('#app')
    </script>
  </body>
</html>
